button{
  min-width: 85%;
  height: 95px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  margin-top: 5%;
  cursor: pointer;
  display: flex;
  border: 2px solid white;
  align-items: center;
  justify-content: center;
}

button:hover{
  background-color: #00471b;
}

.button-click{
  background-color: darkcyan;
}

.button-restart{
  background-color: firebrick;
}