.counter{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 90px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}