* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-color: rgb(133, 176, 223);
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.click-logo-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}

.click-logo{
  height: 15vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 55px;
  min-width: 500px;
}

.counter-text-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

.counter-container{
  margin: 45px ;
  border: 8px solid white;
  border-radius: 35px;
}