* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body{
  background-color: #408ddf;
}

.App{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  font-family: Lato, sans-serif;
}

.click-logo-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4%;
}

.click-logo{
  height: 15vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.principal-container{
  width: 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.counter-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}